@import url('https://fonts.googleapis.com/css2?family=Playwrite+IS:wght@100..400&display=swap');

/* Colors */
:root {
    --background: #000000;
    --text: #FFFFFF;
    --blue: #0A84FF;
    --green: #2FD159;
    --blue_purple: #5E5BE6;
    --orange:#FF9F0A;
    --rose:#ff3753;
    --purple:#bf5bf3;
    --red:#ff3c44;
    --sky:#63d2ff;
    --yellow:#ffd60a;
}

/* Fonts */
.playwrite-us-modern-regular {
    font-family: "Playwrite IS", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* General */
body {
    background-color: var(--background);
    color: var(--text)
}

h1 {
    font-family: "Playwrite IS", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}